.ept-stats-stats_with_vertical_dividers {
  .ept-container {
    .ept-stats-wrapper {
      text-align: center;
      @media(min-width:1000px) {
        display: flex;
        justify-content: space-between;
      }
      .field__item {
        @media(min-width:1000px) {
          width: 33%;
        }
        .paragraph--type--ept-stats-item {
          border-bottom: 1px solid #f1f1f1;
          margin-bottom: 5px;
          @media(min-width:768px) {
            margin-bottom: -11px;
          }
          @media(min-width:1000px) {
            border-bottom: 0;
            border-right: 1px solid #f1f1f1;
            border-radius: 10px;
            margin-bottom: -11px;
            word-wrap: break-word;
          }
          .field--name-field-ept-stats-item-number {
            font-size: 38px;
            line-height: 44px;
            color: #ba0c2f;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 24px;
            padding-bottom: 5px;
            @media(min-width:768px) {
              font-size: 60px;
              line-height: 64px;
            }
            @media(min-width: 1000px) {
              padding: 32px 0 20px 0;
              word-wrap: break-word;
              width: 100%;
            }
          }
          .field--name-field-ept-stats-item-image {
              display: none;
          }
          .field--name-field-ept-stats-item-text {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 17px;
            margin-bottom: 0;
            font-family: Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 400;
            @media(min-width: 768px) {
              font-size: 16px;
              line-height: 24px;
            }
            @media(min-width:1000px) {
              line-height: 24px;
              padding: 0 15px 22px;
              width: 100%;
              word-wrap: break-word;
            }
          }
          .field--name-field-ept-stats-item-link {
            font-family: 'Arial', sans-serif;
            padding-bottom: 32px;
            font-weight: 400;
            font-size: 16px;
            text-transform: capitalize;
            a {
              text-decoration: none;
            }
            @media(min-width: 1000px) {
              width: 100%;
            }
          }
        }
      }
      .field__item:last-child {
        .paragraph--type--ept-stats-item {
          border-bottom: 0px;
          @media(min-width: 1000px) {
            border-right: 0px;
            padding-right: 0;
          }
        }
      }
    }
  }
}
